# This is Git's per-user configuration file.
[user]
	name = deptno
	email = deptno@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
  l = log --color --graph --pretty=format:'%Cgreen(%cr) %Cred%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%ae>%Creset %s' --abbrev-commit
[diff]
	tool = vimdiff
	compactionHeuristic = true
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[includeIf "gitdir:~/.tmux/plugins/"]
	path = ~/.gitconfig.tmux
[includeIf "gitdir:/home/bglee/"]
	path = ~/.gitconfig.w10
[includeIf "gitdir:~/workspace/src/github.com/zigbang/"]
	path = ~/.gitconfig.zigbang
