# This is Git's per-user configuration file.
[user]
	name = deptno
	email = deptno@gmail.com
	signingkey = 770E7F433A7BEBC20AC6712FA20921D2906CB572
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
  precomposeUnicode = true
[alias]
  l = log --color --graph --pretty=format:'%Cgreen(%cr) %Cred%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%aL>%Creset %s' --abbrev-commit
  la = log --color --graph --pretty=format:'%C(blue)%cr %C(dim magenta)%h%Creset%C(auto)%d%Creset %C(white reverse ul)%aL%Creset %s' --abbrev-commit
  ld = log --color --graph --simplify-by-decoration --pretty=format:'%C(blue)%cr %C(dim white)%h%Creset%C(auto)%d%Creset %C(green ul italic)%aL%Creset %s' --abbrev-commit
[diff]
	tool = vimdiff
	compactionHeuristic = true
  renames = true
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[includeIf "gitdir:~/.tmux/plugins/"]
	path = ~/.gitconfig.tmux
[includeIf "gitdir:/home/bglee/"]
	path = ~/.gitconfig.w10
[includeIf "gitdir:~/workspace/src/github.com/zigbang/"]
	path = ~/.gitconfig.zigbang

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
  pager = true
[color "status"]
  header = italic
  added = green
  updated = blue
  changed = white
  untracked = magenta bold
  branch = yellow bold
  nobranch = magenta bold
  localBranch = magenta bold
  remoteBranch = magenta bold
  unmerged = magenta bold
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  context = white italic dim
  meta = white italic
  frag = white
  old = white dim strike
  new = green
  commit = green
[color "decorate"]
  HEAD = red reverse bold
  branch = blue dim ul
  remoteBranch = yellow bold
  tag = magenta bold
  stash = magenta bold
[color "grep"]
  context = magenta bold
     ; non-matching text in context lines (when using -A, -B, or -C)
  filename = white dim
     ; filename prefix (when not using -h)
  function = green ul
     ; function name lines (when using -p)
  lineNumber = yellow ul
     ; line number prefix (when using -n)
  column = blue bold
     ; column number prefix (when using --column)
  match = red bold
     ; matching text (same as setting matchContext and matchSelected)
  matchContext = green bold
     ; matching text in context lines
  matchSelected = blue reverse bold
     ; matching text in selected lines
  selected = white bold
     ; non-matching text in selected lines
  separator = magenta bold
     ; separators between fields on a line (:, -, and =) and between
     ; hunks (--)
[color "interactive"]
  prompt = magenta bold
  header = magenta bold
  help = magenta bold
  error = magenta bold


# normal, black, red, green, yellow, blue, magenta, cyan and white. 
# bright, like brightred.
# bold, dim, ul, blink, reverse, italic, and strike + prefix: no-
